.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.author a {
  color: cyan;
  text-decoration: none;
}

.author {
  margin-left: 80%;
}

.Results {
  font-size: 3em;
}

.Exp {
  padding-top: 50px;
}

.Table {
  margin-left: auto;
  margin-right: auto;
}

.inputBox:focus {
  outline-color: #C64E06;
}

.InputForm {
  padding-top: 50px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
