.App {
  text-align: center;
  height: 100%;
}

.App-header {
  background-color: #222;
  height: 5%;
  padding: 1px;
  color: white;
}

.author a {
  color: cyan;
  text-decoration: none;
}

.title {
  font-size: 2em;
}

.invalid {
  padding: 10px;
}

.author {
  margin-left: 80%;
}

.Results {
  padding-top: 2px;
  font-size: 1em;
}

.Exp {
  padding-top: 20px;
}

.Table {
  margin-left: auto;
  margin-right: auto;
}

.inputBox:focus {
  outline-color: #C64E06;
}

.InputForm {
  padding-top: 50px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
